
#menuPane{
    -fx-background-color: #936EF5 ;
}

#iniciopaneid{
  -fx-background-color: linear-gradient(to right, #A8C6FA, #936EF5);
}

#paneLogIn{
-fx-background-color: rgba(0, 0, 0, 0.5);
}

.paneProductosElegidos{
 -fx-background-color: #A8C6FA;
 -fx-background-radius: 30px;
}
.panePrecios{
-fx-background-color: #AA8EF5;
-fx-background-radius: 30px;
}
.paneBotonAñadirProducto{
-fx-background-color: #AA8EF5;
-fx-background-radius: 30px;
}

.botonesAyuda{
-fx-background-radius: 30px;
 -fx-background-color: linear-gradient(to right,  #B8E7EE,  #FF72F9);
}
.botonesAyudatoLeft{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left,  #B8E7EE,  #FF72F9);
}

.table-view {
    -fx-background-color: lightgray;
    -fx-background-radius: 30px;
}

.column-header {
    -fx-background-color: #a8c6fa;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: lightblue;
}
#tblCustomer {


}
#selectbuttonid{
-fx-background-color: #FF72F9;
-fx-background-radius: 30px;
}

/*
.paneTodoPerfil{
-fx-background-radius: 30px;
}
*/

.panePerfilDatos{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left,  #B8E7EE,  #FF72F9);
}

.panePerfil{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left,  #B8E7EE,  #FF72F9);
}

#buttonAcutalizarPerfil{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left, #202A78, #8A2BE2);
}

#buttonCambiarFoto{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left, #202A78, #8A2BE2);
}

#buttonVolver{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left, #202A78, #8A2BE2);
}



