
#menuPane{
    -fx-background-color: #936EF5 ;
}

#iniciopaneid{
  -fx-background-color: linear-gradient(to right, #A8C6FA, #936EF5);
}

#paneLogIn{
-fx-background-color: rgba(0, 0, 0, 0.5);
}

.paneProductosElegidos{
 -fx-background-color: #A8C6FA;
 -fx-background-radius: 30px;
}
.panePrecios{
-fx-background-color: #AA8EF5;
-fx-background-radius: 30px;
}
.paneBotonAñadirProducto{
-fx-background-color: #AA8EF5;
-fx-background-radius: 30px;
}

.botonesAyuda{
   -fx-background-radius: 30px;

}
.botonesAyudatoLeft{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to left,  #B8E7EE,  #FF72F9);
}

.table-view {
    -fx-background-color: lightgray;
    -fx-background-radius: 30px;
}

.column-header {
    -fx-background-color: #a8c6fa;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: white;
}

.table-row-cell:odd {
    -fx-background-color: #f9f9f9;
}

.table-row-cell:selected {
    -fx-background-color: lightblue;
}
#tblCustomer {


}
#selectbuttonid{
-fx-background-color: #FF72F9;
-fx-background-radius: 30px;
}

/*
.paneTodoPerfil{
-fx-background-radius: 30px;
}
*/

.panePerfilDatos{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to right, #A8C6FA, #936EF5);

}

.panePerfil{
-fx-font-weight: bold;
-fx-border-weight: 6px;
-fx-border-color: #a8c6fa;
-fx-border-radius: 20px;

}

.buttonAcutalizarPerfil{
-fx-background-radius: 30px;
-fx-font-weight: bold;
-fx-background-color: linear-gradient(to right, #936EF5, #E634AA);
-fx-font-size: 14px;
}

.buttonCambiarFoto{
-fx-background-radius: 30px;
-fx-background-color: linear-gradient(to right, #936EF5, #E634AA);
-fx-font-size: 14px;
-fx-font-weight: bold;
}

.buttonVolver{
-fx-font-weight: bold;
-fx-background-color: linear-gradient(to right, #936EF5, #E634AA);
-fx-background-radius: 30px;
-fx-font-size: 14px;
-fx-font-weight:bold;
}
.barraEstaticaMenuProductos{
-fx-background-color: #A8C6FA;
}
.botonEstaticaMenuProductos{
-fx-font-weight: bold;
-fx-background-color: linear-gradient(to right, #936EF5, #E634AA);
-fx-background-radius: 30px;
-fx-font-size: 14px;

}
.itemMenuProductos{
-fx-font-weight: bold;
-fx-font-color: #FF72F9;
-fx-font-size: 14px;
}
.labelFiltro{
-fx-font-weight: bold;
-fx-font-size: 18px;
}
.botonReiniciarAplicar{
-fx-font-weight: bold;
-fx-background-color: #A8C6FA;
-fx-background-radius: 30px;
-fx-font-weight: bold;
-fx-font-color: white;
-fx-font-size: 14px;
}
.ascDesc{
-fx-font-size: 14px;
}
.labelsBlancos{
-fx-font-weight: bold;
-fx-font-size: 14px;
}
.labelsBarra{
-fx-font-weight: bold;
-fx-font-size: 18px;
}
.itemMenuProductosHistorial{
-fx-font-weight: bold;
-fx-font-color: #FF72F9;
-fx-font-size: 14px;
}
.labelHistorial{
-fx-font-size: 28px;
-fx-font-weight: bold;
}
.paneComprar{
-fx-background-color:#a8c6fa(0, 0%, 0%, 0.8);
-fx-background-radius: 20px;
}
.botonesPaneCompra{
-fx-font-weight: bold;
-fx-background-radius: 30px;
-fx-font-size: 14px;
-fx-background-color: #936EF5;
}
.paneAddTarjeta{
-fx-background-color: linear-gradient(to right,#EA759C, #936EF5);
-fx-background-radius: 30px;

}
.labelAddTarjeta{
-fx-font-weight: bold;
-fx-font-size: 26px;
}
.botonAddTarjeta{
-fx-background-color: #936EF5;
-fx-font-size: 14px;
-fx-font-weight: bold;
-fx-background-radius: 30px;

}


.paneAyuda{
-fx-background-radius: 30px;
}

.sobreNosotros{
-fx-padding: 8px ; /* Ajusta el padding superior e inferior según sea necesario */
    -fx-border-width:  3 3 3 3; /* Grosor de la línea separadora */
    -fx-border-color: white; /* Color de la línea separadora */
    -fx-effect: dropshadow(three-pass-box, black, 0.3, 0.3, 0, 0); /* Efecto de sombra */
}

.textoSobrenosotros{
    -fx-effect: dropshadow(three-pass-box, black, 0.3, 0.3, 0, 0); /* Efecto de sombra */
}

.fondoConoce{
-fx-background-color: #A8C6FA;
-fx-padding: 8px ; /* Ajusta el padding superior e inferior según sea necesario */
    -fx-border-width:  0 0 4 0; /* Grosor de la línea separadora */
    -fx-border-color:  D55CFF; /* Color de la línea separadora */
}

.textoConoce{
 -fx-effect: dropshadow(three-pass-box, #D55CFF, 1, 1, 3, 3); /* Efecto de sombra */
}

.fondoConoce1{
-fx-background-color: #A8C6FA;
-fx-padding: 8px ; /* Ajusta el padding superior e inferior según sea necesario */
    -fx-border-width:  4 0 4 0; /* Grosor de la línea separadora */
    -fx-border-color: #D55CFF; /* Color de la línea separadora */
}

.sobreNosotros1{
-fx-padding: 8px ; /* Ajusta el padding superior e inferior según sea necesario */
    -fx-border-width:  0 0 3 0; /* Grosor de la línea separadora */
    -fx-border-color: white; /* Color de la línea separadora */
 -fx-effect: dropshadow(three-pass-box, #D55CFF, 1, 1, 3, 3); /* Efecto de sombra */
 -fx-align-items: center;
}
.paneAdmin{
-fx-font-weight: bold;
-fx-background-color: linear-gradient(to right, #A8C6FA, #936EF5);
}
.botonesAdmin{
-fx-background-color: linear-gradient(to right, #936EF5, #E634AA);
-fx-font-weight: bold;
-fx-font-size: 20px;
-fx-background-radius: 30px;
}

.estiloResalto:hover{
 -fx-cursor: hand;
}
.labelsItems{
-fx-font-weight: bold;
-fx-font-size: 25px;
}

.negritamenu{
-fx-font-weight: bold;
-fx-font-size: 14px;
}

